$white: #ffffff;
$blue: #4338ca;
$black: #171717;
$gray: #525252;
$background-primary: linear-gradient(142deg, #f9fafb, #d2d6db);
$background-secondary: linear-gradient(142deg, #f9fafb, #edf0f3);

$text-sm: 0.875rem;
$text-sm-lh: 1.25rem;
$text-base: 1rem;
$text-base-lh: 1.5rem;